# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Homework_SelectionOfItems.iml
# Datasource local storage ignored files
/../../../../../../:\Sources\Homework_SelectionOfItems\.idea\.idea.Homework_SelectionOfItems\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
